.block-inline-blocksimple-button a:hover {
  opacity: 0.8;
}

#drupal-off-canvas ul li a.inline-block-list__item.simple_button:before {
  position: relative;
  float: left;
  content: url("../images/button.svg");
  width: 60px;
  height: 80px;
  margin-top: 10px;
}
