.ui-slider.red .ui-slider-range {
  background: #aa4643;
}

.ui-slider.red .ui-slider-handle {
  border-color: #aa4643;
}

.ui-slider.green .ui-slider-range {
  background: #89a54e;
}

.ui-slider.green .ui-slider-handle {
  border-color: #89a54e;
}

.ui-slider.blue .ui-slider-range {
  background: #4572a7;
}

.ui-slider.blue .ui-slider-handle {
  border-color: #4572a7;
}

.ui-slider.orange .ui-slider-range {
  background: #db843d;
}

.ui-slider.orange .ui-slider-handle {
  border-color: #db843d;
}

.ui-slider.purple .ui-slider-range {
  background: #80699b;
}

.ui-slider.purple .ui-slider-handle {
  border-color: #80699b;
}

.ui-slider.steel-blue .ui-slider-range {
  background: #3d96ae;
}

.ui-slider.steel-blue .ui-slider-handle {
  border-color: #3d96ae;
}

.ui-slider.tiger-orange .ui-slider-range {
  background: #db843d;
}

.ui-slider.tiger-orange .ui-slider-handle {
  border-color: #db843d;
}

.ui-slider.wild-blue-yonder .ui-slider-range {
  background: #92a8cd;
}

.ui-slider.wild-blue-yonder .ui-slider-handle {
  border-color: #92a8cd;
}

.ui-slider.cinereous .ui-slider-range {
  background: #a47d7c;
}

.ui-slider.cinereous .ui-slider-handle {
  border-color: #a47d7c;
}

.ui-slider.laurel-green .ui-slider-range {
  background: #b5ca92;
}

.ui-slider.laurel-green .ui-slider-handle {
  border-color: #b5ca92;
}

.sliderwidget .sliderwidget-event-field-container,
.sliderwidget .sliderwidget-event-field-container div,
.sliderwidget .sliderwidget-event-field-container .form-item {
  display: inline;
  padding: 0px;
  margin: 0px;
}

.sliderwidget .sliderwidget-bubble {
  position: relative;
  top: -32px;
  color: black;
  background-color: #eeeeee;
  border: 1px solid grey;
  display: inline-block;
  padding: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
}

.sliderwidget {
  margin-top: 35px;
}
