#drupal-off-canvas ul li a.inline-block-list__item.simple_social_links:before {
  position: relative;
  float: left;
  content: url("../images/icono_boton_social.svg") !important;
  width: 60px;
  height: 80px;
  margin-top: 10px;
}
