#drupal-off-canvas ul li a.inline-block-list__item.simple_title:before {
  position: relative;
  float: left;
  content: url("../images/title.svg");
  width: 60px;
  height: 80px;
  margin-top: 10px;
}
